body{
    background-color: #DDFFDD;
    color:#002200;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1{
text-align: center;
}
.felkover{
font-weight: bold;
font-size: 10px;

}
img{
    float: right;
}