body{
background-image: url('erdo.jpg');
background-color:#CCFFCC ;
color: #004400;
margin-top:25 ;
margin-left:240 ;
margin-bottom: 100;
margin-right: 240;

font-family: 'Times New Roman';
}
a{
color: #007700;
}
p::first-letter{
color:red;
font-size:xx-large;

}